.page-section__wrapper {
    padding: var(--section-padding);
    margin: 0 auto;
    max-width: var(--section-max-width);

    position: sticky;
}

/*.page-section__wrapper:nth-of-type(2n+1) {
    background-color: var(--theme-background-secondary);
}*/