:root {
 --bg1: white;
 --bg2: rgba(0,0,0,.05);
 --border: lightgray;
 
 --columns: 1;
 
 font-family: Inter;
}

body {
 margin: 0 auto;
 max-width: 1280px;
}
main {
 margin: 1rem;
}

header {
 display: flex;
 padding: .5rem 0;
 margin-bottom: 1rem;
}
.logo {
 width: 3.5rem;
}

p.big {
 font-size: 1.1rem;
}

h2, h3, h4 {
 font-weight: 800;
}

section {
 padding: 1rem 0 2rem 0;
}
section.bg {
 box-shadow: 0 0 0 100vmax #D8F2FF;
 background-color: #D8F2FF;
 clip-path: inset(0 -100vmax);
}

.projectslist {
 display: grid; gap: 16px;
 grid-template-columns: repeat(var(--columns), 1fr);
}
@media (min-width: 600px) {
 :root { --columns: 2; }
}
@media (min-width: 750px) {
 :root { --columns: 3; }
}
@media (min-width: 1000px) {
 :root { --columns: 4; }
}

.card {
 background-color: white;
 border-radius: 6px;
 display: flex;
 flex-direction: column;
 gap: .4rem;
 text-decoration: none;
 
 transition-duration: .1s;
}
.card > .thumbnail {
 width: 100%;
 height: 140px;
 border-radius: 6px 6px 0 0;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin-bottom: .6rem;
 position: relative;
}
.card > .thumbnail:after {
 display: block;
 position: absolute;
 content: '';
 inset: 0;
 background: linear-gradient(0deg, rgba(0,0,0,0.075) 0%, rgba(255,255,255,0) 100%);
}
.card h3, .card p {
 margin: 0 1rem;
 color: black;
 text-decoration: none;
}
.card:hover, .card:focus {
 transform: translate(-4px, -4px);
 box-shadow: 4px 4px 0 0 #00CBFE;
}
.card p {
 margin-bottom: 1.25rem;
}

.card .tagslist {
 display: flex; flex-wrap: wrap;
 gap: 6px;
 margin: -.75rem 1rem 1.25rem 1rem;
}
.tagslist .tag {
 background-color: lightgray;
 border-radius: 6px;
 padding: .2rem .4rem;
 font-size: .8rem;
}

/* skills */
.skilllist {
 display: flex; flex-wrap: wrap;
 gap: 8px;
}
.skillcard {
 background-color: lightgray;
 padding: .4rem 1rem;
 border-radius: 6px;
 font-size: .9rem;
 display: flex;
 align-items: center;
 gap: 8px;
}
.skillicon {
 width: 24px;
 height: 24px;
}

/* footer */
footer {
 padding-top: 3rem;
 font-size: .8rem;
 color: gray;
}
footer p {
 margin: .5rem 0;
 padding: 0;
}
footer a {
 text-decoration: none;
 color: inherit;
}
footer a:focus, footer a:hover {
 text-decoration: underline;
}

/* mobile */
@media (max-width: 800px) {
 header {
  justify-content: center;
 }
}

@media (max-width: 600px) {
 .projectslist {
  justify-content: stretch;
 }
 .card {
  width: 100%;
 }
}
